    <div class="block" style="height: 580px;">
     <div class="centered">
	 <br></br>
     <t1> Erin Walker </t1> <br></br>
	 <t2> MBA, ACMA, CGMA </t2> <br></br>
	 <t3> Blog: <%= link_to "www.ewalkerblog.co.za", 'http://www.ewalkerblog.co.za/' %> </t3>
	 </br>
	 <t4></t4>
    </div>