    <div class="block" style="height: 580px;">
     <div class="centered">
	 <br></br>
	 </br>
     <div class="t1"> <%= link_to "Erin Walker", 'http://about.me/erinwalker/' %> </div>
	 <div class="t2"> Creator, MBA, ACMA, CGMA </div>
	 <div class="t5"> I'm a very passionate and driven entrepreneur that loves new ideas (VC in the making). Also husband, father, kitesurfer, coder and most importantly saved (because of Jesus). </div> 
	 <t4></t4>
	 <br></br>
	 <div class="t3"> <%= link_to "Blog", 'http://www.ewalkerblog.co.za/' %> - <%= link_to 'Email', href="mailto: ewalker@ewalkerblog.co.za"%> - <%= link_to "Follow", 'http://www.twitter.com/erinchampwalker' %> </div>
     </div>
	 
	 
	 